.example-container {
  flex: 1;
  background: skyblue;
  margin: 0;
}

mat-drawer {
  width: 10%;
  min-width: 160px;
  background-color: aliceblue;
  border-radius: 0 12px 12px 0;
}

mat-list-item:hover {
  cursor: pointer;
  background-color: skyblue;
}
mat-list-item {
  border-radius: 12px;
}

div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
